{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
  <style>
 .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* ajustar tamaño de las imágenes según necesidades */
  grid-gap: 10px; /* ajustar espacio entre las imágenes según necesidades */
}

.grid img {
  width: 100%; /* reescalar todas las imágenes a la misma anchura */
  height: auto; /* mantener la relación de aspecto original de cada imagen */
}
  </style>
  <script src="/apps/templates/home/pdf.js"></script>
  
</head>
<div id="content">
  <div class="row mt-4">
    <h4>Grid árboles random forest</h4>
    
    <div class="grid">
      
      <img src="static/assets/img/mlimg/tree0.png">
      <img src="static/assets/img/mlimg/tree1.png">
      <img src="static/assets/img/mlimg/tree2.png">
      <img src="static/assets/img/mlimg/tree3.png">
      <img src="static/assets/img/mlimg/tree4.png">
      <img src="static/assets/img/mlimg/tree5.png">
      <img src="static/assets/img/mlimg/tree6.png">
      <img src="static/assets/img/mlimg/tree7.png">
      <img src="static/assets/img/mlimg/tree8.png">
      <img src="static/assets/img/mlimg/tree9.png">
      
    </div>

    
    </div>

        {% include "includes/footer.html" %}

    </div>
    <h4>Decision Tree Generado</h4>
    <img src="static/assets/img/mlimg/decisionTree.png" width="500" max-widht="500" height="500">
    <h4>Regresión Linear</h4>
    <img src="static/assets/img/mlimg/linear.jpeg" width="500" max-widht="500" height="500">
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script>

    var ctx = document.getElementById("chart-bars").getContext("2d");
    console.log(document.getElementById("data_ips"))
    var chart_data = JSON.parse(document.getElementById("data_ips").textContent);
    console.log(chart_data)
    new Chart(ctx, {
      type: "bar",
      data: chart_data
      ,options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "white"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });
    var ctx2 = document.getElementById("chart-danger").getContext("2d");
    console.log(document.getElementById("data_danger"))
    var chart_data_vulned = JSON.parse(document.getElementById("data_danger").textContent);
    console.log(chart_data_vulned)
    new Chart(ctx2, {
      type: "bar",
      data: chart_data_vulned
      ,options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "white"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });
    var ctx3 = document.getElementById("chart-vuln").getContext("2d");
    console.log(document.getElementById("data_vuln"))
    var chart_data = JSON.parse(document.getElementById("data_vuln").textContent);
    console.log(chart_data)
    new Chart(ctx3, {
      type: "bar",
      data: chart_data
      ,options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "white"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });
    var ctx4 = document.getElementById("chart-date").getContext("2d");
    console.log(document.getElementById("data_date"))
    var chart_data = JSON.parse(document.getElementById("data_date").textContent);
    console.log(chart_data)
    new Chart(ctx4, {
      type: "bar",
      data: chart_data
      ,options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "white"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });
  </script>
  <script>
     import { jsPDF } from "jspdf";

     function generatePDF() {
      const doc = new jsPDF();
      const elementHTML = document.getElementById('content').innerHTML;
      doc.html(elementHTML, {
        callback: function (pdf) {
          pdf.save('document.pdf');
        }
      });
    }
  </script>
{% endblock javascripts %}
